[Unit]
Description=Monitor TS-SILO supercap voltages and shut down on power failure
 
[Service]
Type=simple
ExecStart=tssilomon
 
[Install]
WantedBy=multi-user.target
